/* Font */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
    font-display: swap;
}


/* Page */

html {
    /* Stops scrollbar "jump" when navigating between pages*/
    margin-left: calc(100vw - 100%);
}

.page {
    margin: 1.5rem auto;
    max-width: 1125px;
    min-width: 310px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: "Montserrat", sans-serif;
}

.important {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Header */

.site-header {
    text-align: center;
    padding-bottom: 0.8em;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #eee;
}

.site-header-info h1 {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

.site-header-info h2 {
    font-weight: 200;
    font-size: 1.6rem;
}

.site-header-info ul {
    list-style: none;
    padding-top: 0.5rem;
    line-height: 1.5;
}

.site-header-info li {
    display: inline-block;
}

.site-header-info li:not(:last-child)::after {
    content: " | ";
    white-space: nowrap;
}

.site-header-info a {     
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: -6px;
    margin-right: -6px;
 }


/* Main */

#main h1,
#main h2,
#main h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#main h1 {
    font-weight: 300;
    font-size: 2.3rem;
}

#main h2 {
    font-weight: 200;
    font-size: 1.6rem;
}

#main ul {
    padding-left: 1rem;
}

#main li ul {
    padding-block-start: 0.25rem;
    padding-block-end: 0.5rem; 
}

#main li {
    /* padding-block-start: 10px; */
    padding: 1.25px;
}

p {
    margin-bottom: 1rem;
}

a,
a:visited,
a:hover,
a:active {
    color: #08c;
    text-decoration: none;
    transition: text-decoration 0.3s linear;
    white-space: normal;
}

a:hover,
a:active {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
}

blockquote {
    padding-left: 20px;
}


/*  Dark mode */

html,
body,
input,
textarea,
select,
button {
    color: rgb(216, 212, 207);
    border-color: rgb(106, 98, 87);
    background-color: rgb(19, 21, 22) !important
}

* {
    scrollbar-color: #454a4d #202324;
}